<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
	
<hibernate-configuration>

	<session-factory>
		
		<property name="current_session_context_class">thread</property>

		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/cenajur</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">nayara</property>

		<property name="hibernate.show_sql">true</property>

 		<mapping class="br.com.cenajur.model.Audiencia" />
 		<mapping class="br.com.cenajur.model.AndamentoProcesso" />
 		<mapping class="br.com.cenajur.model.Banco" />
 		<mapping class="br.com.cenajur.model.CategoriaDocumento" />
 		<mapping class="br.com.cenajur.model.Cidade" />
 		<mapping class="br.com.cenajur.model.Cliente" />
 		<mapping class="br.com.cenajur.model.Colaborador" />
 		<mapping class="br.com.cenajur.model.Comarca" />
 		<mapping class="br.com.cenajur.model.DocumentoAndamentoProcesso" />
 		<mapping class="br.com.cenajur.model.DocumentoAudiencia" />
 		<mapping class="br.com.cenajur.model.DocumentoCliente" />
 		<mapping class="br.com.cenajur.model.DocumentoGeral" />
 		<mapping class="br.com.cenajur.model.DocumentoPesquisa" />
 		<mapping class="br.com.cenajur.model.DocumentoProcesso" />
 		<mapping class="br.com.cenajur.model.Estado" />
 		<mapping class="br.com.cenajur.model.EstadoCivil" />
 		<mapping class="br.com.cenajur.model.Graduacao" />
 		<mapping class="br.com.cenajur.model.Grupo" />
 		<mapping class="br.com.cenajur.model.Lotacao" />
 		<mapping class="br.com.cenajur.model.Mensagem" />
 		<mapping class="br.com.cenajur.model.MensagemDestinatario" />
 		<mapping class="br.com.cenajur.model.Menu" />
 		<mapping class="br.com.cenajur.model.MotivoCancelamento" />
 		<mapping class="br.com.cenajur.model.Objeto" />
 		<mapping class="br.com.cenajur.model.ParteContraria" />
 		<mapping class="br.com.cenajur.model.Permissao" />
 		<mapping class="br.com.cenajur.model.PermissaoGrupo" />
 		<mapping class="br.com.cenajur.model.Processo" />
 		<mapping class="br.com.cenajur.model.ProcessoCliente" />
 		<mapping class="br.com.cenajur.model.ProcessoNumero" />
 		<mapping class="br.com.cenajur.model.ProcessoParteContraria" />
 		<mapping class="br.com.cenajur.model.SituacaoAudiencia" />
 		<mapping class="br.com.cenajur.model.SituacaoProcesso" />
 		<mapping class="br.com.cenajur.model.SituacaoProcessoCliente" />
 		<mapping class="br.com.cenajur.model.SituacaoProcessoParteContraria" />
 		<mapping class="br.com.cenajur.model.TipoAcesso" />
 		<mapping class="br.com.cenajur.model.TipoAndamentoProcesso" />
 		<mapping class="br.com.cenajur.model.TipoCategoria" />
 		<mapping class="br.com.cenajur.model.TipoColaborador" />
 		<mapping class="br.com.cenajur.model.TipoDocumento" />
 		<mapping class="br.com.cenajur.model.TipoPagamento" />
 		<mapping class="br.com.cenajur.model.TipoParte" />
 		<mapping class="br.com.cenajur.model.TipoProcesso" />
 		<mapping class="br.com.cenajur.model.Turno" />
 		<mapping class="br.com.cenajur.model.Usuario" />
 		<mapping class="br.com.cenajur.model.Vara" />

	</session-factory>

</hibernate-configuration>
	